{% load staticfiles  %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}project_name{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#  Bootstrap + CSS libs  #}

    {#  CSS  #}

    {% block extrastyles %}{% endblock %}
    {% block extrascriptsfirst %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {#  Scripts  #}
    {% block extrascripts %}{% endblock %}
</body>
</html>